{% extends "layout.html" %}

{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}">

<style type="text/css">
div.section {
	height: 1000px;
	text-align: center;
}
</style>


{% endblock %}

{% block body %}

<div class="container">

  <div class="section" id="socketio">
  <form role="form" action="{{ url_for('join') }}" method=post>
    <h2>Login</h2>
    <input name="name" type="text" class="form-control" placeholder="Name" required autofocus>
    <input name="room" type="text" class="form-control" placeholder="Room" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>


  <ul>
  	{% for r in rooms %}
  	<li>{{ r.name }}
  	{% endfor %}
  </ul>
  </div>

</div> <!-- /container -->

{% endblock %}
